$link-color: #000;
$link-hover-color: #2ebaae;

$breadcrumb-tag-color: #6c757d;

$article-date-color: #646464;

$error-color: red;

$copyright-color: #aaaaaa;

$background-body-color: #f4f4f4;
$background-white-color: #fff;

$toast-success: #28a745;
$toast-error: #dc3545;