{% extends 'base.html.twig' %}

{% block title %}Hello tagController!{% endblock %}

{% block body %}
<article>
    <h2>{{ tag.title }}</h2>
    <a href="{{ path('web_tags_index') }}">Retour à la liste</a>
</article>
{% endblock %}
