<footer id="footer">
    <ul class="icons">
        <li>
            <a href="#" class="icon brands fab fa-twitter"><span class="label">Twitter</span></a>
        </li>
        <li>
            <a href="#" class="icon brands fab fa-facebook-f"><span class="label">Facebook</span></a>
        </li>
        <li>
            <a href="#" class="icon brands fab fa-instagram"><span class="label">Instagram</span></a>
        </li>
        <li>
            <a href="#" class="icon solid fab fa-linkedin-in"><span class="label">Linkedin</span></a>
        </li>
        <li>
            <a href="#" class="icon solid fab fa-github"><span class="label">Github</span></a>
        </li>
        <li>
            <a href="#" class="icon solid fas fa-rss"><span class="label">RSS</span></a>
        </li>
        <li>
            <a href="#" class="icon solid fas fa-envelope"><span class="label">Email</span></a>
        </li>
    </ul>
    <p class="copyright">Develop with &hearts; by Lorenzo Marozzo, design inspired by Future Imperfect Theme in html5up</p>
</footer>