<header id="header">
    {% set url = ea_url()
        .setController('App\\Controller\\Admin\\UserCrudController')
        .setAction('index') %}
    {# impersonate div alert #}
    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
        <div class="alert alert-warning" style="margin-bottom: 0;">
            You are currently switched to this user.
            <a href="{{ url }}">Return in Admin</a>
            <span>or</span>
            <a href="{{ path('web_articles_index', {'_switch_user': '_exit'}) }}">Exit Admin and Impersonation</a>
        </div>
    {% endif %}
    {% include('_main_nav.html.twig') %}
</header>