<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {% block title %}
                - Lorenzo Marozzo
            {% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="site">
            {% block header %}
                {% include('_header.html.twig') %}
            {% endblock %}

            <main class="container">
                {% include '_flash_messages.html.twig' %}
                {% block body %}{% endblock %}
            </main>

            {% block footer %}
                {% include('_footer.html.twig') %}
            {% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
