{% extends 'base.html.twig' %}

{% block title %}
    Liste des articles
    {{ parent() }}
{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="d-flex justify-content-end mb-3">
        <a class="btn btn-info" href="{{ path('web_articles_new') }}">Create New Article</a>
    </div>
    {% endif %}
    {% for article in articles %}
        {% include 'web/article/_article_template.html.twig' %}
    {% else %}
        No records found
    {% endfor %}
    {% include '_pagination.html.twig' %}
{% endblock %}
