{% extends 'base.html.twig' %}

{% block title %}
    {{ article.title }}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include 'web/article/article_template.html.twig' %}
    <a href="{{ path('web_articles_comments', {'slug': article.slug}) }}">{{ article.comments|length }} comments</a>
{% endblock %}
