<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mail de contact du site - sujet : {{ subject }}</title>
</head>
<body>
<h1>Mail de {{ name }} - {{ mail }}</h1>
<p>
    {{ message }}
</p>
</body>
</html>